@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Josefin+Sans&family=Moon+Dance&display=swap');


body {
    text-align: center;
    padding-top: 200px;
}

.heading {
    font-family: 'Fredoka One', cursive;
    font-size: 40px;
    font-weight: 600;
    padding: 50px;
}

.form-btn {
    margin: 10px auto;

}

.form-input {
    margin: 10px auto;
    font-family: 'Josefin Sans', sans-serif;
}

.form-text {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 800;
    font-size: 40px;
}

.block {
    display: block;
}